# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\nadia\Desktop\n\Курс JS\5. Библиотека React. Базовый уровень\lesson_components_properties\components-properties\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
